doctype
html
  head
    title= title
    link(rel="stylesheet", href="/static/css/style.css")
  body
    h1= "test" 
    p above is printed like: h1= "test" or like h1="test"
    h1 "test"
    p above is printed like: h1 "test"
    h1 = "test"
    p above is printed like: h1 = "test"
    h1 = test
    p above is printed like: h1 = test
    h1 =test
    p above is printed like: h1 =test
    h1 ="test"
    p above is printed like: h1 ="test"
    //- h1= test and h1=test dont print